<ion-view>
    <ion-nav-title class="bar-positive">
        Get points
    </ion-nav-title>
    <ion-content>
        <h1>Pobieranie punktów o zadanym zakresie i pozycji</h1>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Latitude</span>
                <input type="number" step="any" required="true" min="-180" max="180" placeholder="Write latitude of your destination">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Longitude</span>
                <input type="number" step="any" required="true" min="-180" max="180" placeholder="Write longitude of your destination">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Radius</span>
                <input type="number"step="any" required="true" min="1" max="10" placeholder="Write radius in kilometers (max 10)">
            </label>
            <label>
                <input class="button" style="width:100%;" type="submit" value="Submit">
            </label>
        </div>
    </ion-content>
</ion-view>
