<ion-view>
    <ion-nav-title class="bar-positive">
        Get points
    </ion-nav-title>
    <ion-content>
        <div class="list" ng-controller="getPointCtrl">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Latitude</span>
                <input type="number" step="any" required="true" min="0" max="360" placeholder="Write latitude of your destination" ng-model="latitude">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Longitude</span>
                <input type="number" step="any" required="true" min="0" max="360" placeholder="Write longitude of your destination" ng-model="longitude">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Radius</span>
                <input type="number" step="any" required="true" min="1" max="10" placeholder="Write radius in kilometers (max 10)" ng-model="radius">
            </label>
            <label>
                <button class="button button-full button-positive" ng-click="sendRequest()">Send Request</button>
            </label>
            Latitude: {{latitude}}
            Longitude: {{longitude}}
            Radius: {{radius}}
        </div>
    </ion-content>
</ion-view>