<ion-view>
    <ion-nav-title class="bar-positive">
        Settings
    </ion-nav-title>
    <ion-content>
        <div class="list card">
            <a class="item" >Get signal around You</a>
            <a class="item" href="#/app/getpoints">Get signal around some point</a>
            <a class="item" >Clear points</a>
        </div>
        <ion-toggle ng-model="background" toggle-class="toggle-positive">Run on background</ion-toggle>
        <ion-toggle ng-model="signalListener" toggle-class="toggle-positive">Signal listener</ion-toggle>
    </ion-content>
</ion-view>
